@use './vars' as *;
@use './mixin' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}



a, li{
  text-decoration: none;
  list-style: none
}
.container{
  @include container;
  
}